<h1>Twoter</h1>

{{#if this.user}}
	<h3>Welcome {{this.user}}</h3>
	<!-- Following action -->
	<form action='logout' method='POST' id='logout'>
		<input type='submit' value='Logout'>
	</form>

	<!-- Ignoring action and looking at js in main.js -->
	<form action='addTwote' method='POST' id='twoteForm'>
		Twot Message: <input type='text' name='message'/><br/>
	    <input type='submit' value='Twot'><br/>
	</form>

{{else}}
	<a href='/login' class='button'>Login</a>
{{/if}}

<br>

<!-- New code from the Burger Helper JSFiddle - credit to Sarah - and also help from Filippos with buttons and jQuery values -->
<div class='container'>
	<h3>Twotes</h3>
	<ul class='twotes'>
	  <li id="hidden-template-li">
	    <span class="message">Message</span>
	    <span class="user loggedInUser" value="{{this.user}}"> - You</span>
	    <button class='deleteTwote' type='submit'>x</button>
	  </li>
	  {{#each twotes}}
		<li id="{{this._id}}">
		 	<span class="message" name='message' value="{{this.message}}">{{this.message}}</span>
		    <span class="user" name='message' value="{{this.user}}"> - {{this.user}}</span>
		    <button class='deleteTwote' type='submit'>x</button>
		</li>
		{{/each}}
	</ul>
</div>

<div class ='sidebar'>
	<h3>List of Twoters</h3>
	{{#each twotes}}
		<div id='twoters'>
			<p>{{this.user}}</p>
		</div>
	{{/each}}
</div>
